/*定义商店页背景色 */
body {
	background: rgba(0, 0, 0, 0.1) !important;
}

/*定义社群页背景色 */
.apphub_background {
    background: rgba(0, 0, 0, 0.1) !important;
}

/*==========================================================================================*/
/*⬇️商店页⬇️*/

/*打折原价字样*/
body.v7 .discount_prices .discount_original_price {
    color: #ffffff;
    font-size: 11px;
}
/*现价字样*/
body.v7 .discount_prices > div {
    font-size: 14px;
    color: #ffffff;
    padding-left: 0;
    text-shadow: 0 0px 2px rgb(192 0 255);
}

/*“热门新品”等字体*/
.home_tab_button {
    font-size: 20px;
    color: #ffffff;
    opacity: .7;
    font-weight: 500;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    text-shadow: 0 0px 2px rgb(192 0 255);
}
/*下方小条*/
.home_tab_button.active {
    opacity: 1;
    border-bottom: 3px solid #eca4ff;
}

/*==========================================================================================*/
/*⬇️商店具体游戏页⬇️*/

/*DLC名字字样*/
.game_area_dlc_row.even:hover, .game_area_dlc_row.odd:hover {
    background-color: #a15cb342;
    text-decoration: none;
    color: #ffffff;
}

/*简介字体*/
.game_description_column {
    font-size: 14px;
    color: #ffffff;
    margin-top: 16px;
}
/*重点字*/
body.v6 .game_area_description h2.bb_tag {
    margin-top: 18px;
    margin-bottom: 0px;
    background-image: none;
    font-size: 15px;
    color: #aec4ff;
    text-transform: none;
    letter-spacing: 0px;
    text-shadow: 0 0px 2px rgb(255 0 210);
}

/*“最低配置”等字体*/
.widestore .game_area_sys_req strong, .widestore .album_metadata_chunk_name {
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    margin-inline-end: 4px;
    text-shadow: 0 0px 4px rgb(255 255 255);
}

/*==========================================================================================*/
/*⬇️创意工坊具体物品⬇️*/

/*工坊物品名上方导航地址字体*/
.sharedfiles_item_page_header .breadcrumbs, .sharedfiles_item_page_header .breadcrumbs a, .breadcrumbs, .breadcrumbs a {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12px;
}

/*右侧“Tags”字体*/
.workshopTagsTitle {
    color: #ff00fa;
    text-shadow: 0 0px 4px rgb(255, 255, 255);
}

/*右侧改动说明字体*/
.detailsStatNumChangeNotes {
    padding-top: 5px;
    font-size: 13px;
    color: #ff00fa;
    text-shadow: 0 0px 2px rgb(255, 255, 255);
}

/*“文件大小”、“发布于”字体*/
.detailsStatLeft {
    padding-top: 4px;
    color: #ff00fa;
    text-shadow: 0 0px 2px rgb(255, 255, 255);
}

/*文件大小，发布时间字体*/
.detailsStatRight {
    color: #ffffff;
    padding-top: 4px;
}

/*“订阅即可下载”字体*/
.game_area_purchase_game > h1 span {
    color: #ffffff;
    font-size: 13px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
}

/*创作者离线名字字体*/
.persona, a.persona, .persona a, .friend_status_offline, .friend_status_offline div, .friend_status_offline a {
    color: #ffffff;
}

/*“查看所有由。。。和其他人创建的 。。。个合集（也许有些被隐藏了）”字体*/
#mainContents {
    color: #ffffff;
    background-repeat: no-repeat;
    max-width: 950px;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-right: 0px;
    position: relative;
}

/*
89,739	不重复访客数
49,395	当前订阅者
1,354	当前收藏人数
数字字体*/
.stats_table tr > td:first-child {
    width: 50px;
    color: #ffaffe;
    padding-right: 10px;
    vertical-align: top;
    text-align: right;
    text-shadow: 0 0px 4px rgb(0 0 0);
}

/*“不重复访客数
当前订阅者
当前收藏人数”字体*/
.stats_table {
    border: none;
    color: #ffffff;
}

/*描述字样*/
.workshopItemDescription {
    font-size: 14px;
    word-wrap: break-word;
    margin-top: 10px;
    line-height: 20px;
    padding-bottom: 16px;
    padding-right: 8px;
    color: #ffffff;
}
/*“描述”字体*/
.workshopItemDescriptionTitle {
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 3px 0 16px 0;
}

/*“在。。的。个合集中”字体*/
.parentCollectionsTitle {
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 3px 0 10px 0;
}

/*底下评论时间字样*/
.commentthread_comment_timestamp {
    color: rgb(240 198 255 / 80%);
    text-shadow: 0 0px 3px rgb(0 0 0);
}

/*==========================================================================================*/
/*⬇️社区创意工坊主页⬇️*/

/*创意工坊最新消息时间字样*/
.byline {
    font-size: 14px;
    color: rgb(240 198 255 / 80%);
    text-shadow: 0 0px 3px rgb(0 0 0);
}

/*文章字体*/
.detailBox P {
    margin-top: 6px;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
}
/*顶部小标题*/
.subtitle {
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 20px;
}

/*标题字体*/
.detailBox .headline, .detailBox .headline a {
    font-size: 24px;
    color: #de92ff;
    font-family: "Motiva Sans Light", Arial, Helvetica, sans-serif;
    margin-top: 10px;
    line-height: 22px;
    font-weight: normal;
    text-shadow: 0 0px 3px rgb(0 0 0);
}

/*==========================================================================================*/
/*⬇️讨论区⬇️*/

/*讨论区公告字样*/
.steam_discussions_intro {
    color: #f6cbff;
}
.steam_discussions_intro b {
    color: #eb00ff;
    font-weight: 700;
}

/*“欢迎来到 Steam 讨论区”字体*/
.grouppage_content_area h2, a.large_title, h2.large_title {
    color: #ffffff;
    font-size: 1.7em;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
}

/*steam论坛⬇️*/
/*标签选中样式*/
.group_tab.active {
    margin-top: 0px;
    height: 34px;
    padding: 0;
    text-decoration: none;
    border: none;
    background: #417B9C;
    background: -webkit-linear-gradient(top, #5AA9D6 5%, #417B9C 95%);
    background: linear-gradient(to bottom, #dd71ffcf 5%, #e698ecdb 95%);
}
/*下方小条*/
.discussions_header {
    border-bottom: 5px solid #e88fe200;
}
/*标签未选中背景*/
.group_tab {
    background-color: rgb(0 0 0 / 50%);
    border-radius: 2px 2px 0 0;
    color: #dadada;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    padding-inline: 12px;
}
/*标签hover样式*/
a.group_tab:hover {
    background-color: rgb(173 102 244 / 80%);
    color: #ffffff;
}

/*游戏名字样*/
.recent_game_discussion_name {
    color: #edc3ff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 0px 3px rgb(0 0 0);
}
/*“。。个讨论串”字体*/
.recent_game_discussion_count {
    color: #efccff;
    text-shadow: 0 0px 3px rgb(0 0 0);
}

/*“更多游戏论坛”字体*/
.discussions_view_more_link a {
    color: #ffffff;
    font-size: 11px;
}

/*“论坛”等字体*/
.discussions_forumlist_header {
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 8px;
}

/*“。。分钟前”等字体*/
.discussions_forum_row.unread .discussions_forumlist_topiccount, .discussions_forum_row.unread .discussions_forumlist_lastpost {
    color: #ffc4fa;
    text-shadow: 0 0px 3px rgb(0 0 0);
}

/*论坛列表中名字字样*/
.discussions_forumlist_forumname {
    color: #feb4ff;
    text-shadow: 0 0px 3px rgb(0 0 0);
}

/*游戏论坛⬇️*/
/*浏览依据*/
body {
    background: #1b2838;
    text-align: left;
    color: #f0c4ff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/*帖子背景色*/
.forum_topic {
    position: relative;
    height: 48px;
    background-color: rgb(178 126 181 / 39%);
    margin-bottom: 2px;
    padding-inline: 5px 15px;
}

/*帖主名字*/
.forum_topic_op {
    color: #eaa6ff;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 0 0px 3px rgb(0 0 0);
}

/*最后回复时间字样*/
.forum_topic_lastpost {
    font-size: 11px;
    float: right;
    padding-right: 28px;
    color: #ffffff;
}

/*游戏名hover*/
a.whiteLink:hover, .whiteLink:hover, a.linkStandard:hover, a.linkTitle:hover, a.underlinedLink:hover, span.underlinedLink:hover {
    color: #f800ff;
    text-decoration: none;
    cursor: pointer;
}

/*==========================================================================================*/
/*⬇️愿望单页面⬇️*/

/*搜索框背景*/
.DFhzzTUhoEs- .QoJP0e0vzFA- {
    color: #fff;
    background: #0000004f;
    border: 2px solid #0000001a;
    border-radius: 3px;
    flex: 1;
    margin-inline-end: 20px;
    padding: 7px 10px;
}
/*“选项”框背景*/
.PzuczM6OUSY- {
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
    background: #00000063;
    border: 0;
    outline: none;
    align-items: center;
    height: 38px;
    padding: 10px 14px 8px;
    font-family: Motiva Sans, sans-serif;
    font-size: 13px;
    transition: background-color .2s ease-in-out;
    display: flex;
}

/*游戏列表别未经背景*/
.PE-3oq-yIvg- {
    box-sizing: border-box;
    color: #ffffff;
    height: var(--item-height);
    margin-bottom: var(--item-gap);
    background: linear-gradient(340deg, #cf68e68c 10%, #546e8400 50%, #d3a9dd87 80%, #c8a3e770 95%);
    border: 1px solid #ffffff05;
    grid-template:
        "dragger capsule title remove" 30px
        "dragger capsule mid mid" 32px
        "dragger capsule lower purchase" / fit-content(0) 288px 1fr auto;
    gap: 2px 12px;
    padding-block: 12px;
    padding-inline: 0 12px;
    font-family: Motiva Sans, sans-serif;
    font-weight: 200;
    transition: padding .3s, height .3s, margin-bottom .3s;
    display: grid;
    position: relative;
    box-shadow: 0 0 12px #00000078;
}

/*游戏名字样*/
.PE-3oq-yIvg- .I8vuMMV-osE- {
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
    overflow: hidden;
    text-shadow: 0 0px 4px rgb(0 0 0);
}

/*“我的类别”字体*/
.JmLh4Njn6Xg- {
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    flex-shrink: 0;
    margin-inline-end: 1ch;
    padding-top: 4px;
    font-size: 11px;
}

/*+框*/
.EEBSJHM2XHw- {
    background: #9500ff52;
    align-items: center;
    height: 24px;
    margin-inline-start: 2px;
    display: flex;
}
.Vy3rNuKLunU- {
    cursor: pointer;
    color: #ffffff;
    white-space: nowrap;
    background: 0 0;
    border: 1px solid #485d77;
    border-radius: 2px;
    flex-shrink: 0;
    align-items: center;
    gap: 4px;
    min-width: 0;
    max-width: 30ch;
    padding: 5px 8px;
    font-size: 11px;
    display: flex;
    overflow: hidden;
}
/*用户标签框*/
.U3ndjc3qoW8- {
    color: #ffffff;
    cursor: pointer;
    background: #9500ff52;
    border: none;
    border-radius: 2px;
    padding: 4px 6px;
    font-family: inherit;
    font-size: 11px;
}

/*‘特别好评’等字样*/
._0uIJq8Pia8Q-.ojEsJSejN5U- {
    color: #ad00b7;
    text-shadow: 0 0px 3px rgb(255 255 255);
    font-weight: bold;
}

